#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cfd8dc !important;
  border-radius: 4px !important;
}
